<!DOCTYPE html>
<html ng-app="gemStore">
    <head>
        <title>Angular GemStore Tutorials</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body ng-controller="StoreController as gemStore">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center">Ye Olde Angular JemStore</h1>
                <div ng-repeat="product in gemStore.products | orderBy:'-price'">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="row">
                            <h3 class="text-center">{{product.name | uppercase}}</h3>
                            <h4 class="text-center">{{product.price | currency}}</h4>
                            <button ng-show="product.canPurchase">Add to Basket</button>
                        </div>
                        <div class="row">
                            <!-- Image Gallery  -->
                            <div class="col-xs-8 col-xs-offset-2" ng-show="{{product.images}}">
                                <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}" />
                                <br />
                                <div class="small-image center-block thumbnail col-xs-4" ng-repeat="image in product.images">
                                    <img ng-src="{{image}}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <section ng-init="tab = 1">
                                <ul class="nav nav-pills">
                                    <li ng-class="{ active : tab === 1 }">
                                        <a href ng-click="tab = 1">Description</a>
                                    </li>
                                    <li ng-class="{ active : tab === 2 }">
                                        <a href ng-click="tab = 2">Specification</a>
                                    </li>
                                    <li ng-class="{ active : tab === 3 }">
                                        <a href ng-click="tab = 3">Reviews</a>
                                    </li>
                                </ul>
                            </section>
                            <div class="panel" ng-show="tab === 1">
                                <h4>Description</h4>
                                <p class="text-center">{{product.description | limitTo:10}}</p>
                            </div>
                            <div class="panel" ng-show="tab === 2">
                                <h4>Specification</h4>
                                <blockquote>None Yet</blockquote>
                            </div>
                            <div class="panel" ng-show="tab === 3">
                                <h4>Reviews</h4>
                                <blockquote>None Yet</blockquote>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/libs/angular.js/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>