<ul class="nav nav-tabs">
    <li ng-class="{ active : panel.isSelected(1) }">
        <a href ng-click="panel.selectPanel(1)">Description</a>
    </li>
    <li ng-class="{ active : panel.isSelected(2) }">
        <a href ng-click="panel.selectPanel(2)">Specification</a>
    </li>
    <li ng-class="{ active : panel.isSelected(3) }">
        <a href ng-click="panel.selectPanel(3)">Reviews</a>
    </li>
</ul>
<div ng-include="'product-description.html'" ng-show="panel.isSelected(1)"></div>
<div ng-include="'product-specification.html'" ng-show="panel.isSelected(2)"></div>
<div ng-include="'product-reviews.html'" ng-show="panel.isSelected(3)" ></div>